css

body {
    background-image: url(../images/desert.background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    text-align: center;
    padding: 50px;
}

.title {
    font-family: "Bangers", system-ui;
    font-size: large;
    color: rgb(255, 7, 181);
}

.details {
    font-family: "Special Elite", system-ui;
    font-size: 20px ;
    margin: 20px 0;
}

.signoff {
    font-family: "Rock Salt", cursive;
    font-size: 22px;
    color: turquoise;
}