css

body {
    min-height: 100vh;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

main {
    text-align: center;
    padding: 50px;
}

.title {
    font-family: "Bangers", system-ui;
    font-size: 80px;
    font-weight: 700;
    color: rgb(255, 7, 181);
    text-shadow: 0 0 10px rgb(white);
    margin-top: 40px;
}

.lasso {
    width: 100px;
    height: auto;
    margin: 40px o;
}

.details {
    font-family: "Special Elite", system-ui;
    font-size: 20px ;
    margin: 20px 0;
}

.signoff {
    font-family: "Rock Salt", cursive;
    font-size: 22px;
    color: black;
    text-shadow: 0 0 10px rgb(white);
}

.hat {
    width: 300px;
    height: auto;
    margin-top: 60px;
}