css

body {
    min-height: 100vh;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

main {
    text-align: center;
    padding: 50px;
}

.title {
    font-family: "Bangers", system-ui;
    font-size: 80px;
    font-weight: 700;
    color: rgb(255, 7, 181);
    text-shadow: 0 0 10px rgb(white);
    margin-top: 40px;
}

.lasso {
    width: 100px;
    height: auto;
    margin: 40px o;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.details {
    font-family: "Special Elite", system-ui;
    font-size: 20px ;
    margin: 20px 0;
}

.signoff {
    font-family: "Rock Salt", cursive;
    font-size: 22px;
    color:black;
    text-shadow: 10 10 30px white;
}

.hat {
    width: 300px;
    height: auto;
    margin-top: 60px;
    transition: scale(1.1);
}

.hat:hover {
    transform: scale(1.1);
}

svg {
    transition: transform 0.3s ease, fill 0.3s ease;
}

svg:hover {
    transform: scale (1.05) ;
}

.rsvp-options{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:40px;
}

.check-circle{
fill:white;
stroke:rgb(255, 7, 181);
stroke-width:20;
}

.check-mark{
fill:none;
stroke:rgb(255, 7, 181);
stroke-width:20;
stroke-linecap:round;
stroke-linejoin:round;
}

.delete-circle{
    fill:rgb(255, 7, 181);
}

.delete-line{
    stroke:white;
    stroke-width: 20;
    stroke-linecap: round;
}

.rsvp-choice svg{
    width: 80px;
    height: auto;
}

.rsvp-choice svg:hover{
    transform: scale(1.1);
    transition: o.3s;
    cursor:pointer;
}

.rsvp-choice p{
    color: white;
}